


            <div class="panel panel-default panelapplayout fx-zoom-normal fx-easing-quad fx-speed-700" ng-repeat="zoom in getTimes(1)">

                <div class="panel-body"  >
                    <div class="col-md-12 column">
                        <div class="row">
                            <div class="col-md-3" ng-if="currentRole=='Admin'">

                                <a class="thumbnailapplayout " ui-sref="sharpmonitoring.listofregistration">
                                    <img alt="App Tools" src="images/registration.jpg" />
                                     <div class="caption">
                                        <h5>
                                            Registration
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3" ng-if="currentRole=='Admin'">

                                <a class="thumbnailapplayout " ui-sref="sharpmonitoring.listofchannel">
                                    <img alt="App Tools" src="images/accounting64x64.png" />
                                    <div class="caption">
                                        <h5>
                                            Channel
                                        </h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3" ng-if="currentRole=='Admin'">

                            <a class="thumbnailapplayout " ui-sref="sharpmonitoring.listofproduct">
                                <img alt="App Tools" src="images/accounting64x64.png" />
                                <div class="caption">
                                    <h5>
                                        Product
                                    </h5>
                                </div>
                            </a>
                                </div>
                            <div class="col-md-3">

                                <a class="thumbnailapplayout " ui-sref="sharpmonitoring.listofentries">
                                    <img alt="App Tools" src="images/accounting64x64.png" />
                                    <div class="caption">
                                        <h5>
                                            Entries
                                        </h5>
                                    </div>
                                </a>
                            </div>
                                <div class="col-md-3" ng-if="currentRole=='Admin'">

                                    <a class="thumbnailapplayout " ui-sref="sharpmonitoring.reportappstore">
                                        <img alt="App Tools" src="images/accounting64x64.png" />
                                        <div class="caption">
                                            <h5>
                                                Report
                                            </h5>
                                        </div>
                                    </a>
                                </div>



                        </div>
                       

                     </div>

                    </div>



            </div>
        </div>
