<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entry Form</title>
</head>
<body>


<h1 class="main-heading"><span ng-if="!isshowUpdate">Edit </span> <span ng-if="isshowUpdate">New </span>Entry</h1>

<!--<div class="oaerror warning" ng-hide="isdisabled">Note :<span class="required">*</span>Marked Is Mandatory!</div>-->


<form name="entryForm" novalidate >
    <div class="col-md-12 child-info infoo">
        <div class="row">
            <div class="">
                <div class="form-group">
                    <!--<h1 class="main-heading">Entry Details</h1>-->
                    <!-- <label class="control-label" for="inputLarge">Child Full Name <span class="required">*</span></label> -->
                    <div >
                        <div class="col-md-4 " > <!--data-{{entryForm.channel.$valid}}-->
                            <div class="form-group">
                                <label class="control-label" >Channel<span class="required">*</span></label>
                                <select class="form-control" name="channel" ng-change="getAllProgramList(entryObj.channel);entryObj.language=entryObj.channel.language;entryObj.category=entryObj.channel.category_name" ng-model="entryObj.channel" ng-options="channellist as channellist.channel_name for channellist in channelList" required>
                                    <option selected value="">Please Select Channel</option>
                                </select>

                            </div>
                            <p class="errorMessage" ng-show="(entryForm.channel.$invalid &&isshowmsg)||(entryForm.channel.$invalid &&entryForm.channel.$touched)">
                                Please enter valid Channel.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Date <span class="required">*</span></label>
                                <!--       <input class="form-control" name="dob"  ng-model="regObj.dob"  type="text" placeholder="Date of birth"  required> -->
                                <input type="text" class=" form-control" name = "entrydate" uib-datepicker-popup="dd/MM/yyyy" max-date="maxDate"
                                       ng-model="entryObj.program_date" is-open = "isOpen" close-text="Close" ng-click="isOpen=true" ng-focus="isOpen=true" required  placeholder="Date"/>
                            </div>
                            <p class="errorMessage" ng-show="(entryForm.entrydate.$invalid &&isshowmsg)||(entryForm.entrydate.$invalid &&entryForm.entrydate.$touched)">
                                Please enter valid date.
                            </p>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" >Program Name<span class="required" >*</span></label>
                                <select class="form-control" name="programname" focus-me="focusMe" id ="proname"ng-model="entryObj.program_name" ng-change="getCategoryForStory(entryObj.program_name)" required>
                                    <option  value="">Please Select Program</option>
                                    <option ng-selected="entryObj.program_name == program.program_name" ng-repeat='program in programlList' ng-value="{{JSON.stringify(program)}}">{{program.program_name}}</option>
                                </select>

                            </div>
                            <p class="errorMessage" ng-show="(entryForm.programname.$invalid &&isshowmsg)||(entryForm.programname.$invalid &&entryForm.programname.$touched)">
                                Please enter valid Program Name.
                            </p>
                        </div>





                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row form-group" >
                    <label class="control-label" style="color: #0000ff">Start Time<span class="required"> *</span></label>
                    </div>
                    <div class="row">
                    <div class="col-md-2"><input type="text" class="form-control" limit-to="2" ng-pattern="regExTime" ng-model="startTimeObj.starthour"  ng-change="calcilateDuration(startTimeObj,endTimeObj)" name="starthour"   required="true"> </div>
                    <div class="col-md-2"><input type="text" class="form-control" limit-to="2" ng-pattern="regExTime" ng-model="startTimeObj.startminutes"  ng-change="calcilateDuration(startTimeObj,endTimeObj)" name="startminute"   required="true"> </div>
                    <div class="col-md-2"><input type="text" class="form-control" limit-to="2" ng-pattern="regExTime" ng-model="startTimeObj.startsecond"   ng-change="calcilateDuration(startTimeObj,endTimeObj)" name="startsecond"   required="true"></div>
                    </div>

                   <!-- <input type="text" class="form-control" ng-model="entryObj.start_time" ng-init="entryObj.start_time='00:00:00'" ng-change="calcilateDuration(entryObj.start_time,entryObj.end_time)" name="starttime" placeholder="Start Time"  required="true">-->
                </div>
                <p class="errorMessage" ng-show="(entryForm.starthour.$invalid &&isshowmsg)
                                                    ||(entryForm.startminute.$invalid &&isshowmsg)
                                                    ||(entryForm.startsecond.$invalid &&isshowmsg)
                                                    ||(entryForm.starthour.$invalid&&entryForm.starthour.$touched)
                                                    ||(entryForm.startminute.$invalid&&entryForm.startminute.$touched)
                                                     ||(entryForm.startsecond.$invalid&&entryForm.startsecond.$touched)
                                                    ||(startTimeObj.starthour>24&&entryForm.starthour.$touched)
                                                    ||(startTimeObj.startminutes>60&&entryForm.startminute.$touched)
                                                    ||(startTimeObj.startsecond>60&&entryForm.startsecond.$touched)">

             <!--       ||(startTimeObj.starthour=='00'&&isshowmsg)
                    ||(startTimeObj.starthour=='00'&&isshowmsg)
                    ||(startTimeObj.startsecond=='00'&&isshowmsg)
                    ||(startTimeObj.starthour=='00'&&entryForm.starthour.$touched)
                    ||(startTimeObj.starthour=='00'&&entryForm.startminute.$touched)
                    ||(startTimeObj.startsecond=='00'&&entryForm.startsecond.$touched)-->
                    Please enter valid starttime.
                </p>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" >Product Name<span class="required">*</span></label>
                    <select class="form-control" name="productname"  ng-change="getAllSongsList(entryObj.product_name);setplanguageValue(entryObj.product_name)" ng-model="entryObj.product_name"  required>
                        <option  value="">Please Select Product</option>
                        <option ng-selected="entryObj.product_name.movie_name==product.movie_name" ng-repeat='product in productlList' value="{{product}}" >{{product.movie_name}}</option>
                    </select>

                </div>
                <p class="errorMessage" ng-show="(entryForm.productname.$invalid &&isshowmsg)||(entryForm.productname.$invalid &&entryForm.productname.$touched)">
                    Please enter valid Product Name.
                </p>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" >Music Compamy<span class="required">*</span></label>
                    <input type="text" class="form-control" ng-model="entryObj.music_company" style="background-color: #d4c9c9"  disabled name="musiccompany" placeholder="Music Company"  required="true">

                </div>
                <p class="errorMessage" ng-show="(entryForm.musiccompany.$invalid &&isshowmsg)||(entryForm.musiccompany.$invalid &&entryForm.musiccompany.$touched)">
                    Please enter valid Music Company.
                </p>
            </div>

         </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" >Songs<span class="required">*</span></label>
                    <select class="form-control" name="songs"  ng-model="entryObj.songs"  required>
                        <option  value="">Please Select Songs</option>
                        <option ng-selected="entryObj.songs.songs==song.songs" ng-repeat='song in songsList' ng-value="song.songs">{{song.songs}}</option>
                    </select>

                </div>
                <p class="errorMessage" ng-show="(entryForm.songs.$invalid &&isshowmsg)||(entryForm.songs.$invalid&&entryForm.songs.$touched)">
                    Please enter valid songs.
                </p>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" >Channel Usage<span class="required"> *</span></label>
                    <!--<input type="text" class="form-control" ng-model="entryObj.channel_usage"  name="channelusage" placeholder="Channel Usage"  required="true">-->
                    <select class="form-control" ng-model="entryObj.channel_usage"  name="channelusage" required="true">
                        <option value="">Please select Channel Usage</option>
                        <option ng-selected="toBeContinueEntry.channel_usage==cu" ng-repeat="cu in channelUsagelist" value="{{cu}}">{{cu}}</option>
                    </select>
                </div>
                <p class="errorMessage" ng-show="(entryForm.channelusage.$invalid &&isshowmsg)||(entryForm.channelusage.$error.maxlength||entryForm.channelusage.$invalid&&entryForm.channelusage.$touched)">
                    Please enter valid channel usage.
                </p>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" >Activity<span class="required">*</span></label>
                    <select class="form-control" name="activity"  ng-model="entryObj.activity"  required>
                        <option  value="">Please Select Activity</option>
                        <option ng-selected="toBeContinueEntry.activity==act" ng-repeat="act in activity" ng-value="act">{{act}}</option>
                    </select>

                </div>
                <p class="errorMessage" ng-show="(entryForm.activity.$invalid &&isshowmsg)||(entryForm.activity.$invalid&&entryForm.activity.$touched)">
                    Please enter valid activity.
                </p>
            </div>

            </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" >courtesy<!--<span class="required">*</span>--></label>
                    <input type="text" class="form-control" ng-model="entryObj.courtesy"   name="ecourtesy" placeholder="Courtesy">

                </div>
                <p class="errorMessage" ng-show="(entryForm.ecourtesy.$invalid &&isshowmsg)||(entryForm.ecourtesy.$error.maxlength||entryForm.ecourtesy.$invalid&&entryForm.ecourtesy.$touched)">
                    Please enter valid Courtesy.
                </p>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" >Channel Category <span class="required">*</span></label>
                    <input type="text" class="form-control" ng-model="entryObj.category" ng-init="entryObj.category=''" style="background-color: #d4c9c9" disabled>

                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row form-group" >
                        <label class="control-label" style="color: #0000ff">End Time<span class="required"> *</span></label>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><input type="text" class="form-control" limit-to="2" ng-pattern="regExTime" ng-model="endTimeObj.endhours" ng-init="endTimeObj.endhours=''" ng-change="calcilateDuration(startTimeObj,endTimeObj)" name="endhour"  ng-focus="clearEndHour()" required="true"> </div>
                        <div class="col-md-2"><input type="text" class="form-control" limit-to="2" ng-pattern="regExTime" ng-model="endTimeObj.endminute" ng-init="endTimeObj.endminute=''" ng-change="calcilateDuration(startTimeObj,endTimeObj)" name="endminute"  ng-focus="clearEndMin()" required="true"> </div>
                        <div class="col-md-2"><input type="text" class="form-control" limit-to="2" ng-pattern="regExTime" ng-model="endTimeObj.endsecond"  ng-init="endTimeObj.endsecond=''" ng-change="calcilateDuration(startTimeObj,endTimeObj)" name="endsecond"  ng-focus="clearEndSec()"  required="true"></div>
                    </div>

                    <!-- <input type="text" class="form-control" ng-model="entryObj.start_time" ng-init="entryObj.start_time='00:00:00'" ng-change="calcilateDuration(entryObj.start_time,entryObj.end_time)" name="starttime" placeholder="Start Time"  required="true">-->
                </div>
                <p class="errorMessage" ng-show="(entryForm.endhour.$invalid &&isshowmsg)
                                                    ||(entryForm.endminute.$invalid &&isshowmsg)
                                                    ||(entryForm.endsecond.$invalid &&isshowmsg)
                                                    ||(entryForm.endhour.$invalid&&entryForm.endhour.$touched)
                                                    ||(entryForm.endminute.$invalid&&entryForm.endminute.$touched)
                                                     ||(entryForm.endsecond.$invalid&&entryForm.endsecond.$touched)
                                                    ||(endTimeObj.endhour>24&&entryForm.endhour.$touched)
                                                    ||(endTimeObj.endminute>60&&entryForm.endminute.$touched)
                                                    ||(endTimeObj.endsecond>60&&entryForm.endsecond.$touched)">

                    <!--       ||(startTimeObj.starthour=='00'&&isshowmsg)
                           ||(startTimeObj.starthour=='00'&&isshowmsg)
                           ||(startTimeObj.startsecond=='00'&&isshowmsg)
                           ||(startTimeObj.starthour=='00'&&entryForm.starthour.$touched)
                           ||(startTimeObj.starthour=='00'&&entryForm.startminute.$touched)
                           ||(startTimeObj.startsecond=='00'&&entryForm.startsecond.$touched)-->
                    Please enter valid endtime.
                </p>
                <p class="errorMessage" ng-if="isShowMessage">End Time should be greater than Start Time</p>

            </div>



        </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" style="color: #0000ff">Duration<span class="required"> *</span></label>
                <input type="text" class="form-control" ng-model="entryObj.duration" style="background-color: #d4c9c9" ng-init="entryObj.duration='00:00:00'" disabled name="duration" placeholder="Duration"  required="true">
            </div>
            <p class="errorMessage" ng-show="(entryForm.duration.$invalid &&isshowmsg)||(entryForm.duration.$error.maxlength||entryForm.duration.$invalid&&entryForm.duration.$touched)">
                Please enter valid duration.
            </p>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" >Story<span class="required"> *</span></label>
                <input type="text" class="form-control" ng-model="entryObj.story" style="background-color: #d4c9c9" name="story" placeholder="Story" disabled  required="true">
            </div>
            <p class="errorMessage" ng-show="(entryForm.story.$invalid &&isshowmsg)||(entryForm.story.$error.maxlength||entryForm.story.$invalid&&entryForm.story.$touched)">
                Please enter valid story.
            </p>

        </div>


        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" >Language<span class="required"> *</span></label>
                <input type="text" class="form-control" ng-model="entryObj.language" style="background-color: #d4c9c9" name="language" placeholder="Language" disabled  required="true">
            </div>
            <p class="errorMessage" ng-show="(entryForm.language.$invalid &&isshowmsg)||(entryForm.language.$error.maxlength||entryForm.language.$invalid&&entryForm.language.$touched)">
                Please enter valid language.
            </p>

        </div>

    </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" >Product Language<span class="required"> *</span></label>
                    <input type="text" class="form-control" ng-model="entryObj.product_language" style="background-color: #d4c9c9" name="productlanguage" placeholder="Product Language" disabled  required="true">
                </div>
                <p class="errorMessage" ng-show="(entryForm.productlanguage.$invalid &&isshowmsg)||(entryForm.productlanguage.$error.maxlength||entryForm.productlanguage.$invalid&&entryForm.productlanguage.$touched)">
                    Please enter valid Product language.
                </p>

            </div>
        </div>
        <div class="row">

        </div>
    </div>

    <button class="btn btn-raised btn-primary" ng-click="saveEntry(entryForm.$valid);isshowmsg=true"  ng-if="isshowUpdate">Submit</button><!--ng-show="!isdisabled"-->
    <button class="btn btn-raised btn-primary" ng-click="updateEntry(entryForm.$valid);isshowmsg=true" ng-if="!isshowUpdate">Update</button>


    <button class="btn btn-raised btn-danger" ui-sref="sharpmonitoring.listofentries">Cancel</button>
    <button class="btn btn-raised btn-success" ng-click="changeChanelStatus()">Done</button>



</form>
</div>
<table class="table"  class="row-border hover">
    <thead>
    <tr style="text-align: center">
        <th>SrNo.</th>
        <th>Program Date</th>
        <th>Channel Name</th>
        <th>Program Name</th>
        <th>Movie</th>
        <th>Song</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Status</th>
        <th colspan="3">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entry in ListOfEntries|filter:searchtext|limitTo:6" ng-if="entry.channel">
        <td>{{$index+1}}</td>

        <td>{{ entry.program_date|date:'dd/MM/yyyy' }}</td>
        <td>{{ entry.channel }}</td>
        <td>{{ entry.program_name }}</td>
        <td>{{ entry.product_name }}</td>
        <td>{{ entry.songs }}</td>
        <td>{{entry.start_time}}</td>
        <td>{{entry.end_time}}</td>
        <td>{{entry.duration}}</td>
        <td class="{{entry.channel_status}}">{{entry.channel_status}}</td>
        <td title="Edit Entry"><button class="btn btn-success" ng-click="editEntries(entry.id)"><i class="glyphicon glyphicon-pencil"></i></button></td>
        <td title="Delete Entry"><button class="btn btn-danger" ng-click="deleteEntries(entry.id)"><i class="glyphicon glyphicon-trash" ></i></button></td>
        <td title="To Be Continue"><button class="btn btn-success" ng-click="toBeContinue1(entry)"><i class="glyphicon glyphicon-send" ></i></button></td>
    </tr>
    </tbody>
</table>
</body>
</html>