<div >
    <div class="alert alert-success" role="alert"><strong>Entry List</strong> <div class="pull-right"><button ng-click="addNewEntries()" class="glyphicon glyphicon-plus-sign btn-small btn-raised btn-primary ng-scope" title="Add new channel"></button></div></div>
    <div class="form-group"><input type="text" class="form-control" ng-model="searchtext" autofocus="true" placeholder="Search"><span class="glyphicon glyphicon-search form-control-feedback"></span></div>
    <table class="table"  class="row-border hover">
        <thead>
        <tr style="text-align: center;white-space: nowrap">
            <th>SrNo.</th>
            <th>Program Date</th>
            <th>Channel Name</th>
            <th>Program Name</th>
            <th>Movie</th>
            <th>Song</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>Status</th>
            <th colspan="3">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in ListOfEntries|filter:searchtext|pagination: curPage * pageSize | limitTo: pageSize" ng-if="entry.channel" style="white-space: nowrap">
            <td>{{$index+1}}</td>
            <td>{{ entry.program_date|date:'dd/MM/yyyy' }}</td>
            <td>{{ entry.channel }}</td>
            <td>{{ entry.program_name }}</td>
            <td>{{ entry.product_name }}</td>
            <td>{{ entry.songs }}</td>
            <td>{{entry.start_time}}</td>
            <td>{{entry.end_time}}</td>
            <td>{{entry.duration}}</td>
            <td class="{{entry.channel_status}}">{{entry.channel_status}}</td>
            <td title="Edit Entry"><button class="btn btn-success" ng-click="editEntries(entry.id)"><i class="glyphicon glyphicon-pencil"></i></button></td>
            <td title="Delete Entry"><button class="btn btn-danger" ng-click="deleteEntries(entry.id)"><i class="glyphicon glyphicon-trash" ></i></button></td>
            <td title="To Be Continue"><button class="btn btn-success" ng-click="toBeContinue(entry)"><i class="glyphicon glyphicon-send" ></i></button></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="pagination-div pull-right" ng-show="ListOfEntries.length">

    <button ng-click="curPage=curPage-1" ng-disabled="curPage == 0" type="button" class="btn-default">PREV</button></li>
    <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>
    <button ng-click="curPage = curPage+1" ng-disabled="curPage >= ListOfEntries.length/pageSize - 1" type="button" class="btn-default">NEXT</button></li>
</div>

