<div >
    <div class="alert alert-success" role="alert"><strong>Entry List</strong> <div class="pull-right"><button ng-click="addNewEntries()" class="glyphicon glyphicon-plus-sign" title="Add new channel"></button></div></div>
    <table class="table"  class="row-border hover">
        <thead>
        <tr style="text-align: center">
            <th>SrNo.</th>
            <th>Channel Name</th>
            <th>Program Name</th>
            <th>Category</th>
            <th>Language</th>
            <th>Channel Category</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in ListOfEntries" ng-if="entry.channel_name">
            <td>{{$index+1}}</td>
            <td>{{ entry.channel_name }}</td>
            <td>{{ entry.program_name }}</td>
            <td>{{ entry.category }}</td>
            <td>{{ entry.language }}</td>
            <td>{{ entry.category_name }}</td>
            <td title="Edit Channel"><button class="btn btn-success" ng-click="editEntries(entry.id)"><i class="glyphicon glyphicon-pencil"></i></button></td>
            <td title="Delete Channel"><button class="btn btn-danger" ng-click="deleteEntries(entry.id)"><i class="glyphicon glyphicon-trash" ></i></button></td>
        </tr>
        </tbody>
    </table>
</div>

