<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title class="hidden-print" id="ptitle">Sharp Monitoring</title>
    <title  id="rtitle">Sharp Monitoring12</title>

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	

<!-- Bootstrap -->

<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<!--MDL-->
<link rel="stylesheet" href="dist/css/font-awesome.min.css">
<link href="dist/css/bootstrap-material-design.css" rel="stylesheet">

<link rel='stylesheet' type='text/css' href="dist/css/ripples.min.css">
<link rel="stylesheet" href="css/eduQfix.css" />

<link rel='stylesheet' type='text/css' href="vendor/progressbar/loading-bar.css">
    <link rel='stylesheet' type='text/css' href="../bower_components/angular-datatables/dist/css/angular-datatables.min.css">
    <link rel="stylesheet" href="vendor/ngToast/dist/ngToast-animations.css" />
    <link rel="stylesheet" href="vendor/ngToast/dist/ngToast.css" />

</head>
<body  ng-clock >
	

		<header class="online-application" style="
    background-color: #e2e3e5;
" ng-clock>
	<div class="container">	
		<div class="row">
			<div class="col-xs-7 col-md-12 no-padding" ng-clock>
				<a href="#" ng-click="gotToHome()"><img ng-clock height="120" src="images/logo.jpg"/></a>
				<h1 class="schoolName"></h1>

				<div class="pull-right hidden-print"   ng-clock>

                    <div class="btn-group hidden-print" id="logout" role="group" style="display: none">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-user"></i> {{currentuser.first_name}} {{currentuser.last_name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-click="logout()">Logout</li>
                        </ul>
                    </div>

				</div>
            </div>
		</div>
	</div>			
</header>

		<div class="container" ng-clock>
			<div class="row-gd">
				<div class="col-md-12">
					<div class="panel panel-default mt20">
						<div class="panel-body">
							
							<div ng-clock ng-init = "isshowl=false;ishowbaner=true">
								<div ng-clock ng-init = "isshowl=false" data-ui-view></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2" ng-hide = "isPaymentDoPage" ng-if = "loggedIn">
					<div ng-include="'app/chat/quickblox1.html'"></div>
				</div>
			</div>
		</div>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="vendor/jquery/jquery-1.11.3.js"></script>
	
	<script src="vendor/jquery/jquery.blockUI.js"></script>
	<script src="vendor/angular/angular.js"></script>
	<script src="vendor/angular-xeditable/xeditable.js"></script>
	<script src="vendor/angular-cookies/angular-cookies.js"></script>
	<script src="vendor/angular-ui/angular-ui-router.js"></script>
	<script src="vendor/ng-file-upload/ng-file-upload.js"></script>
	<script src="vendor/ng-file-upload/angular-base64-upload.js"></script>
	<script src="vendor/angular-resource/angular-resource.min.js"></script>
	<script src="vendor/ui-bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
	<script src="vendor/angular-dashboard/Chart.min.js"></script>
	<script src="vendor/angular-dashboard/angular-chart.min.js"></script>
	<script src="vendor/angular-re-captcha/angular-re-captcha.js"></script>
        <script src="../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../bower_components/angular-datatables/dist/angular-datatables.min.js"></script>

	<!-- TimeTable Calendar Files Started  -->
	<script src="vendor/ui-calendar/calendar.js"></script>
	<script src="vendor/moment/moment.min.js"></script>
	<script src="vendor/fullcalendar/fullcalendar.js"></script>
	<script src="vendor/fullcalendar/gcal.js"></script>
	<!-- TimeTable Calendar Files End -->
        <script src="vendor/dagre-d3/dist/dagre-d3.core.min.js"></script>
	<script src="vendor/progressbar/loading-bar.js"></script>
        <script src="vendor/gsap/src/minified/TweenMax.min.js"></script>
	<script src="vendor/angular/angular-animate.js"></script>
        <script src="vendor/ng-Fx/dist/ng-Fx.min.js"></script>
	<script src="vendor/angular-dashboard/Chart.min.js"></script>
	<script src="vendor/angular-dashboard/angular-chart.min.js"></script>
	<script src="vendor/oauth-io/oauth.js"></script>
	<script src="vendor/ui-time/datetime-picker.js"></script>
	<script src="vendor/ui-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
	<script src="vendor/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="vendor/jquery/jquery.nicescroll.min.js" type="text/javascript"></script>
	<script src="vendor/jquery/jquery.timeago.min.js" type="text/javascript"></script>
	<script src="vendor/ngToast/dist/ngToast.js" type="text/javascript"></script>
	<script src="vendor/angular-sanitize/angular-sanitize.js" type="text/javascript"></script>

	 <!-- Application file start -->
      <script src="app/app.js"></script>

      <script src="vendor/angular-prompt/angular-prompt.js"></script>
      <!-- Application file end -->


      <!--services-->

    <!--pathfinder-->

      <!-- Login file Start ok
      <script src="app/logins/config/login-config.js"></script>
      <script src="app/logins/controllers/login-controller.js"></script>
      <script src="app/logins/controllers/referfriendctrl.js"></script>
      <script src="app/logins/controllers/invitationcodectrl.js"></script>  -->
    <!--Common Files-->
     <script src="app/common/localstorageservice.js"></script>
        <script src="app/common/custominterceptor.js"></script>
    <!--Channel Files-->
    <script src="app/channel/config/channelconfig.js"></script>
    <script src="app/channel/controllers/channelctrl.js"></script>
    <script src="app/channel/controllers/listofchannelctrl.js"></script>
    <script src="app/channel/models/channelmodel.js"></script>
    <script src="app/channel/services/chennalservice.js"></script>
    <!--Product Files-->
    <script src="app/product/config/productconfig.js"></script>
    <script src="app/product/models/productmodel.js"></script>
    <script src="app/product/controllers/productctrl.js"></script>
    <script src="app/product/controllers/listofproductctrl.js"></script>
    <script src="app/product/services/productservice.js"></script>
    <!--Registration Files-->
     <script src="app/registration/config/registrationconfig.js"></script>
     <script src="app/registration/controllers/registrationctrl.js"></script>
      <script src="app/registration/controllers/listofregistrationctrl.js"></script>
     <script src="app/registration/models/registrationmodel.js"></script>
     <script src="app/registration/services/registrationservice.js"></script>
     <!--Login Files-->
     <script type="text/javascript" src="app/login/config/loginconfig.js"></script>
     <script type="text/javascript" src="app/login/controllers/loginctrl.js"></script>
     <script type="text/javascript" src="app/login/services/loginservice.js"></script>

     <!--Entries Form Files-->
     <script type="text/javascript" src="app/entriesform/config/entriesconfig.js"></script>
     <script type="text/javascript" src="app/entriesform/controllers/entriesformctrl.js"></script>
        <script type="text/javascript" src="app/entriesform/controllers/listofentriesctrl.js"></script>
     <script type="text/javascript" src="app/entriesform/services/entriesformservice.js"></script>
     <script type="text/javascript" src="app/entriesform/models/entriesformmodel.js"></script>

        <script src="app/home/confighome.js"></script>
        <script src="app/home/homectrl.js"></script>
        <script src="app/reports/controllers/reportappstore.js"></script>

        <!--Rpoerts Files-->
        <script src="app/reports/config/reportconfig.js"></script>
        <script src="app/reports/controllers/userandpasswordreportctrl.js"></script>
        <script src="app/reports/services/reportsservices.js"></script>
        <script src="app/reports/controllers/workingtimereportctrl.js"></script>
      

      <!--guicalendar files-->

      <script src="vendor/ui-time/datetime-picker.js"></script>
      <script src="vendor/ui-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
      <!--guicalendar files-->
		<!--<script src="dist/js/bootstrap-datepicker.min.js"></script>-->
		<script src="dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="dist/js/bootstrap-datepicker.min.js"></script>
	<!-- <script
		src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
	-->
	<script src="dist/js/ripples.min.js"></script>
	<script src="dist/js/material.min.js"></script>


	<script src='https://www.google.com/recaptcha/api.js'></script>

	<script>
	$(document).ready(function() {
			// This command is used to initialize some elements and make them work properly
			$.material.init();
			
			$('ul.nav > li').click(function (e) {
				e.preventDefault();
				$('ul.nav > li').removeClass('active');
				$(this).addClass('active');                
			});
			
			$('.dropdown > ul > li').click(function (e) {
				e.preventDefault();
				$('.dropdown').removeClass('active');
				$(this).addClass('active');                
			});
			
			$(document).on('click','.navbar-collapse.in',function(e) {
				if( $(e.target).is('a') ) {
					$(this).collapse('hide');
				}
			});
			
			$(document).on('click','.navbar-collapse.in .dropdown',function(e) {
				if( $(e.target).is('ul > li > a') ) {
					$(this).collapse('hide');
				}
			});
			$('.input-daterange').datepicker({
			});
			//window.history.forward(-1);
			
   
		});

//function noBack() { window.history.forward(-1); }

	</script>

        <toast></toast>
</body>

</html>