<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product</title>
</head>
<body>


<h1 class="main-heading"><span ng-if="!isshowUpdate">Edit </span> <span ng-if="isshowUpdate">New </span>Product Form</h1>

<div class="oaerror warning" ng-hide="isdisabled">Note :<span class="required">*</span>Marked Is Mandatory!</div>


<form name="productForm"  form-autofill-fix>
    <div class="col-md-12 child-info infoo">
        <div class="row">
            <div class="">
                <div class="form-group">
                    <h1 class="main-heading">Product Details</h1>
                    <!-- <label class="control-label" >Child Full Name <span class="required">*</span></label> -->
                    <div >
                        <div class="col-md-3"  ng-if="!isShowText">
                            <div class="form-group">
                                <label class="control-label" >Movie Name<span class="required">*</span></label>
                                <select ng-hide="productObj.movie_name=='New'" class="form-control" name="moviename"  ng-change="getAllSongsList(productObj.movie_name)" ng-model="productObj.movie_name"  required>
                                    <option  value="">Please Select Movie Name</option>

                                    <option ng-selected="productObj.movie_name.movie_name==product.movie_name" ng-repeat='product in productlList' value="{{product}}" >{{product.movie_name}}</option>
                                </select>

                                <!--<input ng-show="productObj.movie_name=='New'" autocomplete="on" class="form-control" name="moviename"  type="text" placeholder="Movie name" ng-model="productObj.movie_name" ng-maxlength="50" limit-to="50"   required>-->
                            </div>
                            <p class="errorMessage" ng-show="(productForm.moviename.$invalid &&isshowmsg)||(productForm.moviename.$error.maxlength||productForm.moviename.$invalid&&productForm.moviename.$touched)">
                                Please enter valid Movie Name.
                            </p>
                        </div>

                        <div class="col-md-3" ng-if="isShowText">
                            <div class="form-group">
                                <label class="control-label" >Movie Name <span class="required">*</span></label>
                                <input autocomplete="on" class="form-control" name="moviename"  type="text" placeholder="Movie name" ng-model="productObj.movie_name" ng-maxlength="50" limit-to="50"   required>
                            </div>
                            <p class="errorMessage" ng-show="(productForm.moviename.$invalid &&isshowmsg)||(productForm.moviename.$error.maxlength||productForm.moviename.$invalid&&productForm.moviename.$touched)">
                                Please enter valid Movie Name.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"><label class="control-label" >Songs  <span class="required">*</span></label>
                                <input autocomplete="on" class="form-control "  type="text" placeholder="Songs" ng-model="productObj.songs" name="songs" ng-maxlength="100" limit-to="100" required>
                            </div>
                            <p class="errorMessage" style="white-space:nowrap"ng-show="(productForm.songs.$invalid &&isshowmsg)||(productForm.songs.$error.maxlength||productForm.songs.$invalid&&productForm.songs.$touched)||productForm.songs.$error.pattern">
                                Please enter valid Songs.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" >Music Company <span class="required">*</span></label>
                                <input autocomplete="on" class="form-control" name="musiccompany"  ng-model="productObj.music_company"  type="text" placeholder="Music Company" ng-maxlength="50" limit-to="50" required>
                            </div>
                            <p class="errorMessage" ng-show="(productForm.musiccompany.$invalid &&isshowmsg)||(productForm.musiccompany.$error.maxlength||productForm.musiccompany.$invalid&&productForm.musiccompany.$touched)||productForm.musiccompany.$error.pattern">
                                Please enter valid Music Company.
                            </p>

                        </div>

                               <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" >Language <span class="required">*</span></label>
                                <input autocomplete="on" class="form-control" name="productlanguage"  ng-model="productObj.product_language"  type="text" placeholder="Language" ng-maxlength="50" limit-to="50" required>
                            </div>
                            <p class="errorMessage" ng-show="(productForm.productlanguage.$invalid &&isshowmsg)||(productForm.productlanguage.$error.maxlength||productForm.productlanguage.$invalid&&productForm.productlanguage.$touched)||productForm.productlanguage.$error.pattern">
                                Please enter valid Language.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <button class="btn btn-raised btn-primary" ng-click="saveProduct(productForm.$valid,productObj);isshowmsg=true" ng-if="isshowUpdate">Submit</button>
    <button class="btn btn-raised btn-primary" ng-click="updateProduct(productForm.$valid,productObj);isshowmsg=true" ng-if="!isshowUpdate">Update</button>


    <button class="btn btn-raised btn-danger" ui-sref="sharpmonitoring.listofproduct"  >Cancel</button>

</form>
</div>

</body>
</html>