<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product</title>
</head>
<body>


<h1 class="main-heading">Product Form</h1>

<div class="oaerror warning" ng-hide="isdisabled">Note :<span class="required">*</span>Marked Is Mandatory!</div>


<form name="productForm">
    <div class="col-md-12 child-info infoo">
        <div class="row">
            <div class="">
                <div class="form-group">
                    <h1 class="main-heading">Product Details</h1>
                    <!-- <label class="control-label" for="inputLarge">Child Full Name <span class="required">*</span></label> -->
                    <div >
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="inputLarge">Movie Name <span class="required">*</span></label>
                                <input class="form-control" name="moviename" id="inputLarge" type="text" placeholder="Movie name" ng-model="productObj.movie_name" ng-maxlength="50" limit-to="50"   required>
                            </div>
                            <p class="errorMessage" ng-show="(productForm.moviename.$invalid &&isshowmsg)||(productForm.moviename.$error.maxlength||productForm.moviename.$invalid&&productForm.moviename.$touched)">
                                Please enter valid Product Name.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"><label class="control-label" for="inputLarge">Songs  <span class="required">*</span></label>
                                <input class="form-control "  type="text" placeholder="Songs" ng-model="productObj.songs" name="songs" ng-maxlength="100" limit-to="100" required>
                            </div>
                            <p class="errorMessage" style="white-space:nowrap"ng-show="(productForm.songs.$invalid &&isshowmsg)||(productForm.songs.$error.maxlength||productForm.songs.$invalid&&productForm.songs.$touched)||productForm.songs.$error.pattern">
                                Please enter valid Songs.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="inputLarge">Music Company <span class="required">*</span></label>
                                <input class="form-control" name="musiccompany"  ng-model="productObj.category"  type="text" placeholder="Music Company" ng-maxlength="50" limit-to="50" required>
                            </div>
                            <p class="errorMessage" ng-show="(productForm.musiccompany.$invalid &&isshowmsg)||(productForm.musiccompany.$error.maxlength||productForm.musiccompany.$invalid&&productForm.musiccompany.$touched)||productForm.musiccompany.$error.pattern">
                                Please enter valid Music Company.
                            </p>

                        </div>




                    </div>
                </div>
            </div>

        </div>


    </div>

    <button class="btn btn-raised btn-primary" ng-click="saveProduct(productForm.$valid,productObj);isshowmsg=true" >Submit</button>

    <button class="btn btn-raised btn-danger" ui-sref="onlineformprocess.printformdetails" ng-show="isdisabled" >Update</button>

</form>
</div>

</body>
</html>