<div >
    <div class="alert alert-success" role="alert"><strong>Registration List</strong> <div class="pull-right"><button ng-click="addNewRegistration()" class="glyphicon glyphicon-plus-sign" title="new Registration"></button></div></div>
    <table class="table table-bordered table-responsive"   cellspacing="0"  class="row-border hover">
        <thead>
        <tr style="text-align: center">
            <th>SrNo.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Mobile</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="register in registerList">
            <td class="paddingzero">{{$index+1}}</td>
            <td class="paddingzero">{{ register.first_name }}</td>
            <td class="paddingzero">{{ register.last_name }}</td>
            <td class="paddingzero">{{ register.dob }}</td>
            <td class="paddingzero">{{ register.email }}</td>
            <td class="paddingzero">{{ register.contact }}</td>
            <td title="Edit Channel" class="paddingzero"><button class="btn btn-success" ng-click="editData(register.id)"><i class="glyphicon glyphicon-pencil"></i></button></td>
            <td title="Delete Channel" class="paddingzero"><button class="btn btn-danger" ng-click="deleteData(register.id)"><i class="glyphicon glyphicon-trash" ></i></button></td>
        </tr>
        </tbody>
    </table>
</div>

