<div >
    <div class="alert alert-success" role="alert"><strong>Registration List</strong> <div class="pull-right"><button ng-click="addNewRegistration()" class="glyphicon glyphicon-plus-sign" title="new Registration"></button></div></div>
    <table class="table"  class="row-border hover">
        <thead>
        <tr style="text-align: center">
            <th>SrNo.</th>
            <th>Movie Name</th>
            <th>Songs</th>
            <th>Music Company</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in productList" ng-if="product.movie_name">
            <td>{{$index+1}}</td>
            <td>{{ product.movie_name }}</td>
            <td>{{ product.songs }}</td>
            <td>{{ product.music_company }}</td>
            <td title="Edit Channel"><button class="btn btn-success" ng-click="editData(product.id)"><i class="glyphicon glyphicon-pencil"></i></button></td>
            <td title="Delete Channel"><button class="btn btn-danger" ng-click="deleteData(product.id)"><i class="glyphicon glyphicon-trash" ></i></button></td>
        </tr>
        </tbody>
    </table>
</div>

