<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
</head>
<body>


<h1 class="main-heading"><span ng-if="!isshowUpdate">Edit</span><span ng-if="isshowUpdate">New</span>Registration Form</h1>

<div class="oaerror warning" ng-hide="isdisabled">Note :<span class="required">*</span>Marked Is Mandatory!</div>


<form name="registrationForm">
    <div class="col-md-12 child-info infoo">
        <div class="row">
            <h1 class="main-heading">Registration Details</h1>
        </div>
        <div class="row" ng-if="isshowUpdate">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="inputLarge">User Role <span class="required">*</span></label>
                    <select class="form-control" name="userrole"  ng-model="regObj.role_id" ng-options="croles.id as croles.role for croles in roles track by croles.id" required>
                        <option selected value="">Please Select User Role</option>
                    </select>

                </div>
                <p class="errorMessage" ng-show="(registrationForm.userrole.$invalid &&isshowmsg)||(registrationForm.userrole.$error.maxlength||registrationForm.userrole.$invalid&&registrationForm.userrole.$touched)||registrationForm.userrole.$error.pattern">
                    Please enter valid user role.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="">


                    <!-- <label class="control-label" for="inputLarge">Child Full Name <span class="required">*</span></label> -->
                    <div >
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="inputLarge">First Name <span class="required">*</span></label>
                                <input class="form-control" name="firstname" id="inputLarge" type="text" placeholder="First name" ng-model="regObj.first_name" ng-pattern="regExName" ng-maxlength="50" limit-to="50" required>
                            </div>
                            <p class="errorMessage" ng-show="(registrationForm.firstname.$invalid &&isshowmsg)||(registrationForm.firstname.$error.maxlength||registrationForm.firstname.$invalid&&registrationForm.firstname.$touched)||registrationForm.firstname.$error.pattern">
                                Please enter valid First Name.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"><label class="control-label" for="inputLarge">Last Name  <span class="required">*</span></label>
                                <input class="form-control "  type="text" placeholder="Last name" ng-model="regObj.last_name" name="lastname" ng-maxlength="50" limit-to="50" ng-pattern="regExName" required>
                            </div>
                            <p class="errorMessage" style="white-space:nowrap"ng-show="(registrationForm.lastname.$invalid &&isshowmsg)||(registrationForm.lastname.$error.maxlength||registrationForm.lastname.$invalid&&registrationForm.lastname.$touched)||registrationForm.lastname.$error.pattern">
                                Please enter valid Last Name.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="inputLarge">Username<span class="required"> *</span></label>
                                <input type="text" class="form-control" ng-model="regObj.username" ng-pattern="regExName" name="username" placeholder="Username" ng-maxlength="50" limit-to="50" required>
                            </div>
                            <p class="errorMessage" ng-show="(registrationForm.username.$invalid &&isshowmsg)||(registrationForm.username.$error.maxlength||registrationForm.username.$invalid&&registrationForm.username.$touched)||registrationForm.username.$error.pattern">
                                Please enter valid Username.
                            </p>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="inputLarge">Password <span class="required">*</span></label>
                                <input type="password" class="form-control" ng-model="regObj.password"  name="password" placeholder="Password" ng-maxlength="50" limit-to="50" required>
                            </div>
                            <p class="errorMessage" ng-show="(registrationForm.password.$invalid &&isshowmsg)||(registrationForm.password.$error.maxlength||registrationForm.password.$invalid&&registrationForm.password.$touched)||registrationForm.password.$error.pattern">
                                Please enter valid Password.
                            </p>
                        </div>


                    </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="inputLarge">Date of birth <span class="required">*</span></label>
              <!--       <input class="form-control" name="dob"  ng-model="regObj.dob"  type="text" placeholder="Date of birth"  required> -->
                    <input type="text" class=" form-control" name = "dateofbirth" uib-datepicker-popup="dd/MM/yyyy" max-date="maxDate"
                        ng-model="regObj.dob" is-open = "isOpen" close-text="Close" ng-click="isOpen=true" ng-focus="isOpen=true" required  placeholder="Date of birth"/>
                </div>
                <p class="errorMessage" ng-show="(registrationForm.dateofbirth.$invalid &&isshowmsg)||(registrationForm.dateofbirth.$invalid&&registrationForm.dateofbirth.$touched)">
                    Please enter valid Date of birth.
                </p>
                <p class="errorMessage" ng-if="message">{{messages}}</p>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="inputLarge">Email <span class="required">*</span></label>
                    <input class="form-control" name="email" ng-pattern="regExEmail" ng-model="regObj.email"  type="text" placeholder="Email" ng-maxlength="100" limit-to="100" ng-disabled="isdisabled" required>
                </div>
                <p class="errorMessage" ng-show="(registrationForm.email.$invalid &&isshowmsg)||(registrationForm.email.$error.maxlength||registrationForm.email.$invalid&&registrationForm.email.$touched)||registrationForm.email.$error.pattern">
                    Please enter valid Email.
                </p>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="inputLarge">Mobile <span class="required">*</span></label>
                    <input class="form-control" name="mobile" ng-pattern="regExMobile" ng-model="regObj.contact"  type="text" placeholder="Mobile No" ng-maxlength="10" limit-to="10" ng-disabled="isdisabled" required>
                </div>
                <p class="errorMessage" ng-show="(registrationForm.mobile.$invalid &&isshowmsg)||(registrationForm.mobile.$error.maxlength||registrationForm.mobile.$invalid&&registrationForm.mobile.$touched)||registrationForm.mobile.$error.pattern">
                    Please enter valid Mobile.
                </p>

            </div>
        </div>
    </div>

        <button class="btn btn-raised btn-primary" ng-click="registration(registrationForm.$valid,regObj);isshowmsg=true" ng-if="isshowUpdate">Submit</button>
    <button class="btn btn-raised btn-primary" ng-click="updateRegister(registrationForm.$valid,regObj);isshowmsg=true" ng-if="!isshowUpdate">Update</button>


    <button class="btn btn-raised btn-danger" ui-sref="sharpmonitoring.listofregistration"  >Cancel</button>

</form>
</div>

</body>
</html>